/* :root {
    --dark-sky-blue: #78c0e0ff;
    --carolina-blue: #449dd1ff;
    --navy-blue: #150578ff;
    --midnight-blue: #0e0e52ff;
    --denim-blue: #3943b7ff;
} */

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/Lato-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/Lato-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/Lato-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/Lato-Light.ttf");
  font-weight: lighter;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/Lato-LightItalic.ttf");
  font-weight: lighter;
  font-style: italic;
}

.container {
  width: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

button {
  margin: 7.5px;
  box-sizing: border-box;
  border-radius: 3px;
  height: 30px;
  color: white;
  outline: none;
  border: 0px;
  background: linear-gradient(to right, orange, red);
  cursor: pointer;
  font-family: "Lato";
  font-weight: bold;
}

button:disabled {
  background: grey;
  cursor: not-allowed;
}

button:disabled:hover {
  transform: scale(1);
}

button.danger {
  background: red;
}

button:hover {
  transform: scale(1.05);
  transition: all 0.15s ease-in-out;
}

body {
  margin: 0;
  padding: 7.5px;
  font-family: "Lato";
  font-weight: bold;
}

.about {
  align-self: center;
  cursor: pointer;
}

.hint {
  align-self: center;
  font-size: 10px;
  color: grey;
}
